{% extends 'base.html' %}
{% block extra %}{% endblock %}
{% block body %}
<h1>{% block titulo %}{% endblock %}</h1>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if form %}
    <form action="" method="POST" class="formularioEmail" enctype="multipart/form-data">
             
                {% csrf_token %}
                {% for field in form %}
                <div class = "form-group">
                    <div>
                  
                       {% if field.errors %}
                {{ field.errors }}
                {% endif %}
                       
                        <div align="left">
                            <label for="{{field.name}}"  >{{field.label}}</label>
                        </div>

                        <div class="inputs">
                            {{ field }}
                        </div>

                    </div>
                </div>
                {% endfor %}
     
                <div align="right" >
                    <p><button type="submit" class="botaosubmit">Enviar</button></p>
                </div>

            </form>



{%  endif %}
{% if dados %}
<table border="1" class="table table-hover">
    <tr>
       <td>Data</td>
       <td>Dado</td>
        
    </tr>
{% for dado in dados %}
   
    <tr>
      
       <td>{{dado.0}}</td>
       <td>{{dado.1|floatformat:2 }}</td>

  
        
    </tr>
    
{% endfor %}
</table>
{% endif %}


{% endblock %}