{% extends 'base_forms.html' %}
{% block titulo %}Selecione as informações referentes ao estudo{% endblock %}
{% block extra %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_tipo_media_movel').parent('div').parent('div').parent('div').hide();
    $('#id_discretizacao_media_movel').parent('div').parent('div').parent('div').hide()
    $('#id_reducao').change(function() {    
        if ($(this).val()=="9999"){
            $('#id_tipo_media_movel').parent('div').parent('div').parent('div').show()
            $('#id_discretizacao_media_movel').parent('div').parent('div').parent('div').show()
            $('#id_discretizacao').parent('div').parent('div').parent('div').hide()
        }    
        else{
            if ($(this).val()!="9999"){
            $('#id_tipo_media_movel').parent('div').parent('div').parent('div').hide()
            $('#id_discretizacao_media_movel').parent('div').parent('div').parent('div').hide()
            $('#id_discretizacao').parent('div').parent('div').parent('div').show()
        } 
            
        }
    });
});</script>  

                               
{% endblock %}