{% extends 'base.html' %}
{% block body %}
<h1>Série de dados disponíveis - {{serie.Posto}}</h1>
<table border="1" class="table table-hover">
    <tr>
       <td>Posto</td>
       <td>Discretizacao</td>
       <td>Variavel</td>
       <td>Unidade</td>
       <td>Tipo_Dado</td>
        
    </tr>

   
    <tr>
      
       <td> <a href="/serie/{{serie.Serie_Original_id}}">{{serie.Posto_}}</a></td>
       <td><a href="/serie/{{serie.Serie_Original_id}}">{{serie.Discretizacao_}}</a></td>
       <td><a href="/serie/{{serie.Serie_Original_id}}">{{serie.Variavel_}}</a></td>
       <td><a href="/serie/{{serie.Serie_Original_id}}">{{serie.Unidade_}}</a></td>
       <td><a href="/serie/{{serie.Serie_Original_id}}">{{serie.Tipo_Dado_}}</a></td>
       
  
        
    </tr>

</table>

{% endblock %}